@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-soft-blue: #8ecae6;
  --color-muted-green: #023047;
  --color-lavender: #219ebc;
  --color-warm-gray: #f5f5f4;
  --color-dusty-rose: #fb8500;
}

:root {

  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-none;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground;
  }

  .input {
    @apply w-full border py-6 px-8 border-zinc-300 bg-transparent text-sm text-zinc-900 placeholder-zinc-500 focus:outline-none focus:ring-0 focus:border-zinc-900;
  }

  .bg-card-invite {
    background: radial-gradient(ellipse at center, #ffffff, #ffffff, transparent);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

   .scroll-section {
    position: relative;
    z-index: 10;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  @keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }

    100% {
      background-position: 1000px 0;
    }
  }

  .animated-gradient-text {
    font-size: 2.5rem;
    font-weight: bold;
    background: linear-gradient(to right,
        #000000 20%,
        #333333 40%,
        #333333 60%,
        #000000 80%);
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: shimmer 3s linear infinite;
    line-height: 1.2;
  }

  .dark .animated-gradient-text {
    background: linear-gradient(to right,
        #d4d4d8 20%,
        #71717a 40%,
        #71717a 60%,
        #d4d4d8 80%);
    background-size: 200% auto;
  }
}

.dark-bg-custom {
  background-color: #254336;
  background-image: radial-gradient(at 70% 5%, #254336 0%, transparent 60%), radial-gradient(at 76% 74%, #6b8a7a 0%, transparent 50%), radial-gradient(at 86% 0%, #b7b597 0%, transparent 40%), radial-gradient(at 84% 1%, #dad3be 0%, transparent 30%);
}

.light-bg-custom {
  background-color: #feffd2;
  background-image: radial-gradient(at 36% 81%, #feffd2 0%, transparent 60%), radial-gradient(at 57% 35%, #ffeea9 0%, transparent 50%), radial-gradient(at 92% 61%, #ffbf78 0%, transparent 40%), radial-gradient(at 20% 80%, #ff7d29 0%, transparent 30%);
}

.bg-card-0 {

  background: radial-gradient(at 88% 49%, #35155d 0px, transparent 50%), radial-gradient(at 98% 8%, #512b81 0px, transparent 50%), radial-gradient(at 36% 29%, #4477ce 0px, transparent 50%), radial-gradient(at 95% 8%, #8cabff 0px, transparent 50%), #35155d;

}

.bg-card-1 {
  background-color: #074173;
  background-image: radial-gradient(at 69% 99%, #074173 0%, transparent 60%), radial-gradient(at 42% 20%, #1679ab 0%, transparent 50%), radial-gradient(at 13% 8%, #5debd7 0%, transparent 40%), radial-gradient(at 59% 2%, #c5ff95 0%, transparent 30%);
}

.bg-card-2 {
  background-color: #430a5d;
  background-image: radial-gradient(at 98% 35%, #430a5d 0%, transparent 60%), radial-gradient(at 16% 23%, #5f374b 0%, transparent 50%), radial-gradient(at 57% 11%, #8c6a5d 0%, transparent 40%), radial-gradient(at 43% 17%, #eee4b1 0%, transparent 30%);
}

.bg-card-3 {
  background-color: #070f2b;
  background-image: radial-gradient(at 53% 38%, #070f2b 0%, transparent 60%), radial-gradient(at 99% 52%, #1b1a55 0%, transparent 50%), radial-gradient(at 61% 27%, #535c91 0%, transparent 40%), radial-gradient(at 69% 92%, #9290c3 0%, transparent 30%);
}

.bg-card-4 {
  background-color: #1f2544;
  background-image: radial-gradient(at 98% 20%, #1f2544 0%, transparent 60%), radial-gradient(at 0% 17%, #474f7a 0%, transparent 50%), radial-gradient(at 4% 25%, #81689d 0%, transparent 40%), radial-gradient(at 73% 99%, #ffd0ec 0%, transparent 30%);
}

.bg-card-5 {
  background-color: #5356ff;
  background-image: radial-gradient(at 79% 24%, #5356ff 0%, transparent 60%), radial-gradient(at 81% 51%, #378ce7 0%, transparent 50%), radial-gradient(at 24% 85%, #67c6e3 0%, transparent 40%), radial-gradient(at 22% 9%, #dff5ff 0%, transparent 30%);
}

.bg-card-6 {
  background-color: #10439f;
  background-image: radial-gradient(at 64% 18%, #10439f 0%, transparent 60%), radial-gradient(at 0% 61%, #874ccc 0%, transparent 50%), radial-gradient(at 14% 87%, #c65bcf 0%, transparent 40%), radial-gradient(at 28% 46%, #f27bbd 0%, transparent 30%);
}

.bg-card-7 {
  background-color: #feffd2;
  background-image: radial-gradient(at 15% 47%, #feffd200 0%, transparent 60%), radial-gradient(at 33% 10%, #ffeea900 0%, transparent 50%), radial-gradient(at 54% 64%, #ffc07808 0%, transparent 40%), radial-gradient(at 87% 84%, #ff7f2954 0%, transparent 30%);
}

.bg-card-8 {
  background: radial-gradient(at 11% 97%, #ffffff 0px, transparent 50%), radial-gradient(at 93% 25%, #47e4e0 0px, transparent 50%), radial-gradient(at 17.090517076952704% 83.4166653951009%, #5f81e4 0px, transparent 50%), radial-gradient(at 11% 0%, #ffffff 0px, transparent 50%), #f6f6d9;

}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}